.currency-panel { display: block; width: 250px !important; background: url('img/ui/currency.panel.back.gif') top left no-repeat; }
.currency-panel .title, .currency-panel .element, .currency-panel .ender { display: block; clear: both; }
.currency-panel .title { font-size: 130%; padding: 20px 20px 15px 20px; color: #787878; text-align:center; }
.currency-panel .element { padding: 15px 0; margin: 0 20px; overflow: hidden; }
.currency-panel .element strong, .currency-panel .element small { float: left; color: #444444; }
.currency-panel .element strong { font-size: 240%; font-weight: bold; margin-right: 10px; }
.currency-panel .element small { font-size: 140%; margin-top: 8px; }
.currency-panel .element.bt { border-top: 1px solid #fff; }
.currency-panel .element.bb { border-bottom: 0px solid #a2a2a2; }
.currency-panel .ender { height: 30px; background: url('img/ui/currency.panel.back.gif') bottom left no-repeat; }