@import url("base.css");

.inp
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    background: ;
    font-weight: bold;
        font-size: 24px;
        color: #d00;
        text-decoration: none;
}

#img
{
	padding-top: 200px;  
	text-align: center;
    width: 785px;
    height: 268px;
    margin-left: 247px;
}

#msg
{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

#content
{
    width: 1280px;
    height: 1024px;
}
